@use "../../app/colors.module.scss" as *;

.containerSlides{
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.sectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
     scroll-margin-top: 100px; 
    width: 100%;
    background-color: #1f242dc9;
    gap: 20px;
    height: 500px ;
    margin-bottom: 40px;

    h2{
        padding: 0 30px;
    }
}


@media (max-width: 1000px) {
    .sectionContainer{height: 550px;}

}
