@use "../../app/colors.module.scss" as *;

.containerSlides{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    :global(.swiper) {
        padding: 10px 0; 
        padding-bottom: 2rem;       
      }

      @media (max-width: 768px) {
        :global(.swiper) {
            width: 100%;
          }

        }
        
        @media (max-width: 400px) {
            padding: 0 10px;
        }
}

.sectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-margin-top: 75px; 
    width: 100%;
    background-color: #1f242dc9;
    gap: 20px;
    padding: 2rem 0;
    margin-bottom: 40px;

    h2{
        padding: 0 30px;
    }
}



