@use "../../app/colors.module.scss" as * ;

.sectionContainer{
    padding: 30px 20px ;
}

.titlePage{
    margin-bottom: 40px;
}

.containerTechs{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px , 1fr));
    gap: 10px;
    flex-wrap: wrap;
}


.card{
    height: 280px;
    padding: 14px ;
    display: flex ;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    transition: .5s ease;
    
    &:hover {
        transform: scale(1.03);
        .cardTitle {
            font-size: 18px;
            margin-left: 8px;
        }
    }

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, #111, transparent);
        border-radius: 8px;
        z-index: -1;
        pointer-events: none; 
    }
    
}


.imgBackground{
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center center;
    background-size: cover;
    z-index: -1;
    border-radius: 8px;
    top: 0;
    left: 0;
}


.title{
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 40px;
    }


.description{
    font-size: 15px;
    font-weight: 400;
    color: $colorText;
}


@media (max-width: 500px) {
    .containerTechs{
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }

    .card{
        height: 200px;
        justify-content: flex-start;

        &::after{
            background: linear-gradient(to top, #111, #1111116e, transparent);
        }
    }

    .title{
        font-size: 20px;
        padding-bottom: 25px;
    }

    .description{
        display: none;
    }
}

@media (max-width: 350px){
    .containerTechs{
        gap:5px;
    }
    .title{
        padding-bottom: 15px;
    }
}

@media (max-width: 320px){

    .containerTechs{
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
}