@use "../../app/colors.module.scss" as *;

.tech {
  padding: 3rem 2rem ;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
  }
  background-color: $bgColor;
}

.techGroup {
  margin-bottom: 2.5rem;

  h3 {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    color: #a1a1aa; // cinza suave
    font-weight: 500;
  }
}

.techList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;

  span {
    padding: 0.45rem 0.9rem;
    font-size: 0.9rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.08);
    color: #e5e7eb;
    backdrop-filter: blur(4px);
    transition: all 0.25s ease;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      transform: translateY(-2px);
    }
  }
}
