@use "../../../app/colors.module.scss" as * ;

.headerSection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5%;
}

.headerTitle{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.title{
    font-size: 40px;
}

.description{
    width: 70%;
    font-size: 20px;
    padding-bottom: 10px;
}

.subTitle{
    text-transform: uppercase;
    color: $mainColor;
}

.imgPresentation{
    width: 600px;
    padding-top: 1rem;
}

.containerContact{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn{
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    padding: 8px 14px;
    font-weight: 600;
    border-radius: 5px;
    color: $colorText;
    transition: .5s ease;
    text-decoration: none;

    svg{
        font-size: 20px;
    }
}

.btnLinkedin{
    @extend .btn;
    background-color: #0A66C2;

    &:hover{
        background-color: #004182;
    }
    
}

.btnWhatsapp{
    @extend .btn;
    background-color: #16A34A;

    &:hover{
        background-color: #15803D;
    }
    
}

.btnGithub{
    @extend .btn;
    background-color: #181717;
    border: 1px solid #fff;

    &:hover{
        background-color: #fff;
        color: #181717;
    }
    
}
.btnCv {
    @extend .btn ;
    background-color: #2563EB;
    &:hover{
        background-color: #1E40AF ;
    }
}

.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    img{
        width: 40px;
        animation: arrow alternate infinite 1s;
        @keyframes arrow {
            to{
                transform: translateY(-30px);
            }
        }
    }
}

@media (max-width: 1200px) {
    .imgPresentation{
        width: 300px;
    }
    .headerTitle{
        width: 40%;
    }

    .title{
        font-size: 30px;
    }
    .description{
        font-size: 18px;
        width: 60%;
    }

    .btn{
        font-size: 14px;
    }

    .containerContact{
        flex-wrap: wrap;
    }
}

@media (max-width: 1000px) {
    .headerSection{
        flex-direction: column;
        gap: 20px;
        padding-top: 14%;
    }

    .headerTitle{
        width: 70%;
    }

    .imgPresentation{
        width: 90%;
    }
}

@media (max-width: 500px) {
    .headerSection{
        padding-top: 25%;
    }

    .headerTitle{
        width: 90%;
    }
}

@media(max-width: 400px){
    .headerSection{
        padding: 28% 10px 0 20px;
    }
    .headerTitle{
        width: 98%;
    }

    .description{
        width: 98%;
    }
}