@use "../../app/colors.module.scss" as *;

.containerSection{
    margin-top: 4rem ;
    padding: 0 2rem 2rem 2rem ;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:  $bgColor;
    gap: 20px;

    h2{
        text-align: left;
        color: $mainColor;
    }

    p{
        width: 60%;
        line-height: 25px;
        font-weight: 500;
        font-size: 17px;
    }
}