@use "../../app/colors.module.scss" as *;

.containerSection{
    scroll-margin-top: 100px; 
    padding:2rem;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom , #000 , #333, transparent);
    gap: 20px;

    h2{
        text-align: left;
        color: $mainColor;
    }

    p{
        width: 60%;
        line-height: 25px;
        font-weight: 600;
        font-size: 17px;
    }

    strong {
        color: #e5e7eb;
        }

    @media (max-width: 768px) {
        p{
            width: 80%;
            text-align: justify;
        }
    }

}