@use "../../app/colors.module.scss" as *;

.containerSection{
    scroll-margin-top: 75px; 
    margin-top: 20px;
    padding: 0 2rem;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(
    135deg,
    $bgColor 0%,
    $secondBgColor 100%
    );

    gap: 20px;

    h2{
        text-align: left;
        color: $mainColor;
    }

    p{
        width: 60%;
        line-height: 25px;
        font-weight: 400;
        font-size: 20px;
    }

    strong {
        color: #e5e7eb;
        }

    @media (max-width: 1024px) {
        margin-top: 50px;
    }

    @media (max-width: 768px) {
        margin-top: 0;
        p{
            width: 80%;
            text-align: justify;
        }
    }

    @media  (max-width: 500px) {
        p{
            width: 100%;
            font-size: 17px;
        }
        
    }

    @media (max-width: 375px) {
        padding: 1rem 2rem;
        p{
            font-size: 15px;
        }
    }

}