$colorBackground: #0F0A1F;
$colorPrimary: #6C63FF;
$colorPrimaryLight: #A393FF;
$colorAccent: #38E1F7;
$colorText: #F5F5F5;

$bgColor: #1f242d;
$secondBgColor: #323946;
$textColor: #fff;
$mainColor:#AA1DEF; 