@use "./colors.module.scss" as *;


body{
    background: #111;
}

.mainBackground{
    background-image: linear-gradient(to bottom, #111, #111, transparent);
    height: 100vh;
    
    .conatinerHeader{
        position: relative;

    }
    
    .videoBackground{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        z-index: -1; 
    }
    
}
