@use "./colors.module.scss" as *;


body{
    background: #111;
}

.mainBackground{
    position: relative;
    min-height: 100vh;
    width: 100%;
    
    
    .videoBackground{
        position: absolute;
        inset: 0;              
        width: 100%;
        height: 30%;
        object-fit: fill;
        object-position: center;
        z-index: -1;
    }
    
}
