@use "./colors.module.scss" as *;

.mainBackground{
    background-image: linear-gradient(to bottom, #111, #111, transparent);
    position: relative;
    height: 100vh ;
}

.videoBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* faz o vídeo cobrir toda a tela */
    z-index: -1; 
}

