@use "./colors.module.scss" as *;


body{
    background: #111;
}

.mainBackground{
    
    .conatinerHeader{
        position: relative;
        width: 100vw;
        height: 100vh; 
        overflow: hidden;
    }
    
    .videoBackground{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover; 
        z-index: -1; 
    }
    
}
