@use "../../app/colors.module.scss" as *;

.displayF {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerProject{
    @extend .displayF;
    justify-content: space-around;
    gap: 10px;
    width: 90%;
    height: 350px;
    border: 1px solid $secondBgColor;
    background-color: $bgColor;
    transition: 0.4s;
    cursor: pointer;
    margin-left: 70px;
}

.title {
  color: white;
  font-weight: bold;
  padding: 8px 16px;
}
.description {
  font-size: 14px;
  padding: 0px 16px;
  color: $colorText;
}

.containerImg{
  @extend .displayF;
    width: 500px;
    min-height: 400px;
    filter: drop-shadow(0 0 4px #111);
}

.containerInfo{
  @extend .displayF;
  flex-direction: column;
  background-color: #15151571;
  padding: 20px 0;
  gap: 20px;
  width: 400px;
  box-shadow: (0 0 4px #111);
}


.slideImg{
    width: 100%;
}

.btn{
    @extend .displayF;
    gap: 5px;
    width: 110px;
    text-decoration: none;
    padding: 8px 14px;
    font-weight: 600;
    border-radius: 5px;
    color: $colorText;
    transition: .5s ease;
    text-decoration: none;
     background-color: #181717;
    border: 1px solid #fff;

    &:hover{
        background-color: #fff;
        color: #181717;
    }

    svg{
        font-size: 20px;
    }
}

.techs{
  @extend .displayF;
  flex-direction: column;
  width: 100%;
  padding: 0 16px;

  span{
    color: $colorPrimary ;
  }
}

.links{
  @extend .displayF;
  flex-direction: column;
  gap: 20px
}

.github{
    @extend .btn;

    
}

.vercel{
  @extend .btn;
  
  svg{

    transform: rotate(-90deg);
  }
}