@use "../../app/colors.module.scss" as *;

.displayF {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerProject{
    @extend .displayF;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    width: 100%;
    border: 1px solid $secondBgColor;
    background-color: #15151571;
    transition: 0.4s;
    border-radius: 5px;
    cursor: pointer;
}

.containerImg{
  @extend .displayF;
    width: 80%;
    height: 280px;
    filter: drop-shadow(0 0 4px #111);
}

.slideImg{
  padding-top: 10px;
    width: 100%;
    height: 280px;
    img {
  -webkit-user-drag: none;   
  user-select: none;       
  -webkit-touch-callout: none; 
}

}


.container{
  @extend .displayF;
  flex-direction: column;
  gap: 10px
}

.containerInfo{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 0;
  height: 280px;
  gap: 20px;
  width: 80%;

  .title {
      color: white;
      font-weight: bold;
      padding: 0;
    }
  .description {
      font-size: 14px;
      color: $colorText;
    }

  .btn{
      @extend .displayF;
      gap: 5px;
      width: 110px;
      text-decoration: none;
      padding: 8px 14px;
      font-weight: 600;
      border-radius: 5px;
      color: $colorText;
      transition: .5s ease;
      text-decoration: none;
       background-color: #181717;
      border: 1px solid #fff;
  
      &:hover{
          background-color: #fff;
          color: #181717;
      }
  
      svg{
          font-size: 20px;
      }
  }
  
  .techs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;

    span{
      font-weight: 500;
      color: $colorText ;
    }
  }
  
  .links{
    @extend .displayF;
    width: 90%;
    justify-content: space-around;
    gap: 20px
  }
  
  .github{
      @extend .btn;      
  }
  
  .vercel{
    @extend .btn;
    
    svg{
  
      transform: rotate(-90deg);
    }
  }
}


@media (max-width: 1200px) {
  .containerProject{
    padding: 0 10px;
  }
  .containerImg{
    width: 90%;
    padding: 10px 0;
  }
  .links{
    width: 75%;
  }

  .containerInfo{
    width: 90%;
    .title{
      font-size: 20px;
    }
  }
}

@media (max-width: 1000px){
  .containerProject{
    padding: 10px 0;
    border-radius: 5px;
  }

  .container{
    flex-direction: column;
    gap: 10px;
  }

  .containerImg{
    height: 180px;
  }

  .slideImg{
    height: 170px;
  }

  .containerInfo{
    width: 100%;
    padding: 5px 16px;
    gap: 8px;
    .title{
      font-size: 18px;
    }
  
    .description{
      font-size: 14px;
    }
  
    .links{
      justify-content: center;
      width: 100%;
      margin: 5px 0;
    }
    .techs {
      p{
        font-size: 14px;
        padding: 5px 0;
      }
    }
  }

}

@media (max-width: 400px) {
  .containerProject{
    font-weight: 500;
    width: 100%;
    margin: 0;
  }

  .containerInfo{
    justify-content: center;
      .title{
        font-size: 16px;
      }

      .description{
        font-size: 13px;
        font-weight: 300;
      }

      .techs{

        span{
          font-size: 14px;
        }
        
        p{
          font-size: 12px;
          font-weight: 400;
        }
      }
      
      .btn{
        padding: 5px;
        font-size: 14px;

        svg{
          font-size: 15px; 
        }
      }
  }


}